@media only screen and (min-width: 320px){
* {
    box-sizing: border-box;
  }
.body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}
.logo{
    background-color:  black;
    opacity: 0.6;
    padding-top: 12px;
    padding-bottom: 6px;
    padding-left: 9px;
}
.logo-text{
    color: blanchedalmond;
}
.navbar {
    position: absolute;
    right: 0px;
    top: 9vh;
    display: grid;
    display: none;
    overflow-x: hidden;
  }
  a{  
    text-decoration: none;    
    color:rgba(59, 73, 43, 0.856);
    padding: 2px 0px 2px 0px;
    margin: 2px 4px 2px 4px;
  }
  a:active{
      color: black;
  }
 
  .navbar:active{
      display: visible;
  }
  .main{
      height: 40vh;
      max-width: 100%;
      background-color: wheat;
  }
  .heading{
      text-align: center;
      padding-top:  2rem;
      font-size: 1.5rem;
  }
  .text-inner{
      padding-left: 0.4rem;
      padding-bottom: 1rem;
  }
  .left{ 
    position: relative;
    max-width: 100%;
    width: 80%;
    height:280px;
    background: url("../pics/69.jpg");
    background-size: contain;
    z-index: -1;
    background-repeat: no-repeat;
  }
  .javapic{
    position: relative;
    max-width: 100%;
    top: 40%;
    left: 15%;
    width: 30%;
    height:80px;
    background: url("../pics/java.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
  }
  .burger{
      position: absolute;
      right: 8px;
      top: 5px;
      float: right;
      /* display: none; */
      height: 33px;
      width: 33px;
      background-color: orange;
      z-index: 1;
  }
  .line1{
      position: relative;
      top: 6px;
      left: 6px;
      height: 2px;
      width: 22px;
      background-color: white;
  }
  .line2{
    position: relative;
    top: 11px;
    left: 6px;
    height: 2px;
    width: 22px;
    background-color: white;
}
.line3{
    position: relative;
    top: 16px;
    left: 6px;
    height: 2px;
    width: 22px;
    background-color: white;
}
.right{
    position: relative;
    top: 0px;
    height: 40vh;
    width: 100%;
    background-color: cadetblue;
}
.skills{
    text-align: center;
    font-size: 1.4rem;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}
.text-skills{
    /* display: grid; */
    padding-left: 0.6rem;
    /* grid-template-rows: repeat(2, 20px 20px);
    grid-template-columns:  20px 20px;
    height: 20px;
    width: 20px;
    background-image: url('pics/htmlpic.png'); */
}
.projects{
    position: relative;
    top: 435px;
    height: 50vh;
    width: 100%;
    background-color: wheat;
}
.text-inner2{
    position: relative;
    top: 107px;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}
.fade-out {
    /* animation: fadeOut 4s infinite; */
    animation: fadeOut ease 4s infinite;
    -webkit-animation: fadeOut ease 4s infinite;
    -moz-animation: fadeOut ease 4s infinite;
    -o-animation: fadeOut ease 4s infinite;
    -ms-animation: fadeOut ease 4s infinite;
  }
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
}
.container{
    width: 100%;
    height: 43vh;
    background-color: black;
    opacity: 0.6;
    position: relative;
    top: 440px;
    bottom: 0;
}
  h4{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    color: chartreuse;
  }
  p{
    text-align: center;
    color: beige;  
  }
  .fa {
    /* padding: 20px; */
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    /* background: #3B5998; */
    color: white;
    padding-left: 40%;
    padding-top: 3%;
  }
  
  /* Twitter */
  .fa-twitter {
    /* background: #55ACEE; */
    color: white;
  }
}
@media only screen and (min-width: 768px){
    .body{
        margin: 0;
        padding: 0;
        overflow: hidden;
    }/* 
    .navbar{
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

    }
    .navbar_a {
        float: left;
        display: flex;
        color: blueviolet;
        text-align: right;
        padding: 14px;
        text-decoration: none;
        font-family: sans-serif;
        flex-direction:row;
      }
      .navbar_a:hover {
        background-color: #ddd;
      } */
    .left{
        background-size: cover;
        height: 600px;
    }
    .right{
        height: 80vh;
    }
}